QPushButton{
    border-image: url(:/img/bottom_up.png);
}
QPushButton:hover{
    border-image: url(:/img/bottom_hold.png);
}
QPushButton:hover:pressed{
    border-image: url(:/img/bottom_down.png);
}
QLCDNumber {
    border-style: none;
}
